* {
  padding: 0;
  margin: 0;
}

/*Containers/////////////////////*/

.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1354e;
}

.container {
  border: black solid 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 800px;
  width: 500px;
  background-color: aliceblue;
}

.displayContainer {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*input //////////////////////*/

.input {
  height: 30px;
  width: 180px;
  font-size: 20px;
}

/*Submit Button Style/////////*/

.submit {
  margin: 0px 10px;
  height: 30px;
  width: 80px;
  background-color: #f1354e;
  color: aliceblue;
  font-size: 17px;
  border-radius: 8px;
}
button {
  color: aliceblue;
  background-color: #f1354e;
  height: 25px;
  width: 55px;
  border-radius: 8px;
  margin: 5px 10px;
}

button:hover {
  background-color: aliceblue;
  color: #f1354e;
  transition: ease-out 0.1s;
}

/*header style//////////*/
.header {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  border: solid 1px;
  width: 300px;
  height: 90px;
  background-color: #f1354e;
  color: aliceblue;
  border: black 4px solid;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-decoration: underline;
}

li {
  font-size: 25px;
  list-style: none;
  margin: 5px;
  text-decoration: underline;
}

li button {
  margin-left: 25px;
}
